h1{
	font-size: 3em;
}
.borderradius{
	border-radius: 15px;
}
.center, .container .row .center{
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.floatleft{
	float: left;
}
.clearboth{
	clear: both;
}
header div.row a.button-collapse{
	font-size: 30px;
	padding-top: 10px;
	padding-left: 20px;
}
header div h3{
	font-size: 2em;
	margin: 0px;
	padding: 15px 0;
}
.nomarginpadding{
	margin: 0;
	padding: 0;
}
#logo{
	height: 95px;
}
#nav-mobile{
	clear: both;	
}
.container{
	width: 100%;
	padding: 0;
}
.bold{
	font-weight: bold;
}
.row.nomargin{
	margin:0px;
}
div.slider ul.slides li img{
	max-width: 100%;
	height: auto;
}
div.slider{
	height: auto;
}
div.slider{
	height: 100%;
}
@media only screen and (min-width : 993px){
	div#wrapcontainer.container{
		position: absolute;
		left: calc(240px + 5%) ;
	}	
	header div h3{
		font-size: 3em;
	}
	.container{
		width: 70%;
	}
}